<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M:%line - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/pilot.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/pilot.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
				<!-- keep 30 days' worth of history -->
			    <maxHistory>30</maxHistory>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M:%line - %msg%n</pattern>
		</encoder>
	</appender>
	
	

	<logger name="com.nicecredit.pilot" level="DEBUG"/>
	
	<logger name="org.apache.http" level="ERROR"/>
	<logger name="org.kie.scanner" level="ERROR"/>
	<logger name="org.eclipse.aether.internal.impl" level="ERROR"/>
	<logger name="org.eclipse.aether.internal.impl.DefaultUpdateCheckManager" level="DEBUG"/>
	

	<root level="DEBUG">
	    <appender-ref ref="CONSOLE" />
	    <appender-ref ref="FILE" />
	</root>
	
</configuration>